---
title: El petit príncep
permalink: /petit-princep/
layout: single
---

<p>
  Fa anys que vaig començar la meva col·lecció d'edicions d'El petit príncep en
  diferents idiomes i sistemes d'escriptura. Aquí hi ha una llista dels que tinc
  actualment.
</p>

<p>
  La distinció entre llengües i idiomes diferents acostuma a ser delicada. He
  optat per mantenir entrades diferents per cada parla, ja sigui idioma o
  dialecte. A les entrades de les diferents parles hi trobareu una fitxa
  d'aquesta, amb les diferents edicions del llibre que tinc.
</p>

<h2 id="dades-generals">Dades generals</h2>

{% assign languages_count = site.petit_princep_languages | size %}
{% assign books_count = site.petit_princep_books | size %}

<dl>
  <dt>Total de llibres</dt>
  <dd>{{ books_count }}</dd>
  <dt>Total de parles o idiomes</dt>
  <dd>{{ languages_count }}</dd>
</dl>

<h2 id="llistat-idiomes">Idiomes de la col·lecció</h2>

<ul>
  {% for language in site.petit_princep_languages %}
  <li>
    <a id="{{language.title | downcase}}" href="{{ language.url }}">{{ language.title }}</a>
    {% assign books = site.petit_princep_books | where: 'language', language.title %}

    <ul>
      {% for book in books %}
      <li>
        <small>
          <a href="{{ book.url }}">{{ book.title }}</a>
          {%if book.transliteration %} ({{book.transliteration }}){% endif %}
          {%if book.note_on_title %} {{book.note_on_title }}{% endif %}
        </small>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>